<!doctype html>
<html>
  <head>
    <title>{{ table_name }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/main.css') }}" />
  </head>
  <body>
  {% block mininav %}{% endblock %}
  <div class="container">
    <table id="data" class="table table-striped">
    <thead>
      <tr>
        {% for title in description %}
        <th style="color: #FFFFFF">{{ title[0] }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for line in data %}
        <tr>
          {% for key in line %}
          <td style="color: #FFFFFF">{{ key }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: null,
          "aaSorting": []
      });
    });
  </script>
  </body>
</html>