<html>
    <head></head>
    <body>
        <form method="post">
            {{ form.csrf_token() }}
            {% for field in form if field.name != 'csrf_token' %}
                {% if field.name != 'submit' %}
                    <h4 style="font-size: 30px;">{{ field.label }}</h4>
                    <p style="width: 50%;">
                        {{ field }} 
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    </p>
                {% endif %}
            {% endfor %}
            {{ form.submit }}
        </form>
    </body>
</html>