<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Выбор базы</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/main.css') }}" />
    </head>
    <body>  
    <br><br>
    <br><br>
        <div class="blocktext">
        <form method="post">
            {{ form.csrf_token() }}
            {% for field in form if field.name != 'csrf_token' %}
                {% if field.name != 'submit' %}
                    <h7 style="font-size: 21px;">{{ field.label }}</h7>
                    <p style="width: 50%;">
                        <div class="elems" style="text-align: center;">
                        {{ field }}
                        </div>
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    </p>
                {% endif %}
            {% endfor %}
            {{ form.submit }}
        </form>
    </div>
    </body>
</html>