<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Главная</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/main.css') }}" />
    <script src='main.js'></script>
</head>
<body>
    <div class="blocktext3"><br>
    <a href='/logout'><button >Выйти</button></a>
    <a href='/disconnect'><button>Отключиться</button></a><br><br><br>
        <figure class="logo3">
                <img src="{{ url_for('static', filename='img/main_logo.png') }}" width="300" height="300" alt="">
              </figure>
    <h7><label for="text" style="font-size: 40px;">Доступные таблицы</label></h7><br>
<!--    {{ available_tables }}-->
        {% for table in available_tables %}
          <a href='/main/{{ table }}' style="color: white; text-decoration: none; font-size: 26px;">{{ table+', ' if table != available_tables[-1] else table}}</a>
       {% endfor %}
        <br><br><a href='/create_table'><button >Создать таблицу</button></a>
        <a href='/delete_table'><button >Удалить таблицу</button></a>
        <a href='/req_from_file'><button >Выполнить из файла</button></a>
        <a href='/simple_request'><button >Простой запрос</button></a><br>
{#    <input type="submit" name="submit" value="Выполнить">#}
    <form action="" method="post">
        {{ form.csrf_token() }}
        {% for field in form if field.name != 'csrf_token' %}
            {% if field.name != 'submit' %}
                <h7 style="font-size: 36px;">{{ field.label }}</h7>
                <p style="width: 50%;">
                    <div class="elems" style="text-align: center;">
                        {{ field }}
                        </div>
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </p>

            {% endif %}
        {% endfor %}
        <button style="background-color:#000000; color: #000000; border: 1px solid #000000"><img src="{{ url_for('static', filename='img/play.png') }}" alt=""
         style="vertical-align: middle; background-color:#000000;" width="70" height="70"></button></p>
<!--        {{ form.submit }}-->
<!--    <button type="submit" class="btn-run">Выполнить</button>-->
    </form>
    {% if description %}
        <h4><label for="text" style="font-size: 30px;">Ответ</label></h4>
        {% include 'get_all_data_from_table2.html' %}
<!--        <div class="blocktext4" style="text-align: center;">{{ table|safe }}</div>-->
{#        {% for line in table %}#}
{#            {{ line }}#}
{#            <br>#}
{#        {% endfor %}#}
    {% endif %}
    <br><br>
    {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}
</div>
</body>
</html>