{% extends "nav.html" %}
{% block nav %}{% endblock %}
{% block content %}
    <br>
    <div class="blocktext3">
        {% if description %}
        <h4><label for="text" style="font-size: 30px;">Ответ</label></h4>
        {% include 'base_for_all_data.html' %}
        <br><br>
        {% else %}
        <figure class="logo3">
                <img src="{{ url_for('static', filename='img/main_logo.png') }}" width="300" height="300" alt="">
              </figure>

    {% endif %}
    {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}
    <form action="" method="post">
        {{ form.csrf_token() }}
        <br>
        <button style="background-color:#000000; color: #000000; border: 1px solid #000000"><img src="{{ url_for('static', filename='img/play.png') }}" alt=""
         style="vertical-align: middle; background-color:#000000;" width="70" height="70"></button></p><br>
        <textarea name="text" style="border-color:#000000;" placeholder="Enter query" id="editing" spellcheck="false" oninput="update(this.value); sync_scroll(this);" onscroll="sync_scroll(this);" onkeydown="check_tab(this, event);"></textarea>
        <pre id="highlighting" aria-hidden="true">
        <code class="language-sql" id="highlighting-content">
        SELECT * FROM ...
        </code>
        </pre>
    </form>
    </div>
{% endblock %}