{% extends "nav.html" %}
{% block nav %}{% endblock %}
{% block content %}
    <div class="blocktext3"><br>
        <figure class="logo3">
                <img src="{{ url_for('static', filename='img/main_logo.png') }}" width="300" height="300" alt="">
              </figure>
    <h7><label for="text" style="font-size: 40px;">Выберите таблицу</label></h7><br>
<!--    {{ available_tables }}-->
        {% for table in available_tables %}
          <a href='/main/{{ table }}' style="color: white; text-decoration: none; font-size: 26px;">{{ table+', ' if table != available_tables[-1] else table}}</a>
       {% endfor %}
    </div>
{% endblock %}