{% extends "nav.html" %}
{% block nav %}{% endblock %}
{% block content %}
    <div class="blocktext3"><br>
        <figure class="logo3">
                <img src="{{ url_for('static', filename='img/main_logo.png') }}" width="300" height="300" alt="">
              </figure>
    <h7><label for="text" style="font-size: 40px;">История запросов</label></h7><br>
        {% for query, date in querys_list %}
            {{ date }}
             <pre id="highlighting" aria-hidden="true"  style=" position: static; height: {{ (len(query.split("\n"))+1)*45 }}px">
            <code class="language-sql" id="highlighting-content" style="position: absolute; ">
            {{ '\n'+query }}
            </code>
            </pre>
            <br>
        {% endfor %}
    </div>
{% endblock %}